/* styles.css */

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    margin: 20px;
    background-color: #295585;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button:hover {
    background-color: #b30036;
}

p {
    margin-top: 15px;
    font-size: 14px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.item-name{
    color: blue;
    align-self: center;
}

.center{
display: flex;
justify-content: center;

}
header {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 20px; /* Padding around the header */
margin:0px 0px 20px 0px;


}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none; /* Remove bullet points from the list */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

li {
    
    margin-right: 20px; /* Add spacing between list items */
}

a {
    
    color: #fff; /* Link text color */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold; /* Make link text bold */
padding: 20px;
}

a:hover {
background-color: gray;
}
